body {
	background:#A800FF;
	color:#333;
}

a {
	color:#F1341A;
}

a:hover { color:#00FFFF; }
/*GRAPHIC DESIGN LETTERING*/
#top { 
	width: 820px;
	height: 164px;
	margin: 10px 50%; 
	right: -410px; 
	z-index: 10; 
	position: fixed; 
	pointer-events: none; 
	background: url(http://micagraphicdesign.org/i/gd1a.png) no-repeat;
	background-size: 820px auto; }
	
#bot { 
	width: 820px; 
	height: 140px;
	margin: 0 50%; 
	right: -410px; 
	z-index: 10; 
	position: absolute; 
	bottom: 40px; 
	pointer-events: none; 
	background: url(http://micagraphicdesign.org/i/gd1b.png) no-repeat;
	background-size: 820px auto; }

#header { border-bottom: 10px solid #A800FF; }