body {
	background:#F1341A;
	color:#333;
}

a {
	color:#4C57F1;
}
/*GRAPHIC DESIGN LETTERING*/
#top { 
	width: 820px;
	height: 164px;
	margin: 10px 50%; 
	right: -410px; 
	z-index: 10; 
	position: fixed; 
	pointer-events: none; 
	background: url(http://micagraphicdesign.org/i/gd3a.png) no-repeat;
	background-size: 820px auto; }
	
#bot { 
	width: 820px; 
	height: 164px;
	margin: 0 50%; 
	right: -410px; 
	z-index: 10; 
	position: absolute; 
	bottom: 40px; 
	pointer-events: none; 
	background: url(http://micagraphicdesign.org/i/gd3b.png) no-repeat;
	background-size: 820px auto; }

#header { border-bottom: 10px solid #F1341A; }