

body { background: #A800FF; border-top: 20px solid #000; margin: 0; font-family: "ff-meta-web-pro",sans-serif; font-weight: 700; }

#countdown { width: 100%; font-size: 100px; color:#fff; text-align: center; vertical-align: middle; }