---
title: Visiting Designer Sven Vogel Oct 16 - MICA Graphic Design
body-class: layout event detail
---
<div class="main content ui">
  <article class="h-entry story" id="post-6143">
    <figure class="attach">
      <img class="src" src="http://micagraphicdesign.org/wp-content/uploads/2014/10/sven-470x608.jpg" alt="">
      <figcaption class="caption">
        poster design by <a href="#">Michael Auer 16</a>
      </figcaption>
    </figure> <!-- /.attach -->



    <div class="content">
      <header class="header event card ui">
        <h1 class="p-name heading">Visiting Designer Sven Vogel Oct 16</h1>
        <div class="meta">
          <p class="date">Oct 16 2014 12–1 PM</p>
          <p class="location">
            <a class="map link" href="#">Main Building</a>
          </p>
        </div>
        <nav class="categories menus ui">
          <ul class="menu ui">
            <li class="item"><a href="#" class="category link">lecture</a></li>
          </ul>
        </nav>
        <nav class="tags menus ui">
          <ul class="menu ui">
            <li class="item"><a href="#" class="tag link">brand</a></li>
            <li class="item"><a href="#" class="tag link">identity</a></li>
          </ul>
        </nav>
        <div class="byline"><em class="story">Posted </em>by: <a class="link" href="#heather">Heather Kohlberger</a></div>
      </header> <!-- /.header -->



      <div class="body">
        <p>Join Sven Vogel, international brand designer, of Hamburg Germany for a presentation about his work. Great presentation for students interested in international design or study abroad.</p>
      </div>
    </div>



    <footer class="footer">
      <div class="byline ui">
        <p class="heading"><em class="story">Posted </em>by:</p>
        <div class="byline card ui">
          <figure class="attach">
            <img class="src" src="http://placecage.com/400/400" alt=""></figure>
          <div class="content">
            <a href="#profile" class="heading">Heather Kohlberger, ENV 16</a>
          </div>
        </div>
      </div> <!-- /.byline -->
    </footer> <!-- /.footer -->
  </article> <!-- /.story#post-6143 -->
</div> <!-- /.main.content.ui -->

<div class="sub content ui">
  <div class="subscribe segment">
    {{> signup }}
    <a href="#" class="rss">Subscribe to RSS</a>
  </div> <!-- /.subscribe -->
  <nav class="categories menus segment ui">
    <strong class="menus title">Categories</strong>
    <ul class="menu">
      <li class="item"><a href="#" class="category link">Lecture</a></li>
      <li class="item"><a href="#" class="category link">Exhibition</a></li>
      <li class="item"><a href="#" class="category link">Workshop</a></li>
    </ul>
  </nav> <!-- /.categories -->
  <div class="archives segment"><a href="#" class="button archive">View All Blog Posts</a></div>
</div><!-- /.sub content ui -->
