---
title: MICA Graphic Design Site Templates
layout: index.hbs
---

Hello World

<ul>
  <li>
    <a href="home.html">Homepage</a>
  </li>
  <li>
    <a href="blog-list.html">Blog List</a>
  </li>
  <li>
    <a href="events-list.html">Events List</a>
  </li>
  <li>
    <a href="profile-detail.html">Profile Detail</a>
  </li>
</ul>
