---
title: MICA Graphic Design News
body-class: layout news list
---
<div class="main content ui">
  <h1 class="page heading ui">News</h1>

  <!--  ====================================================================
  Featured News Post
  =====================================================================  -->
  <div class="news lede ui">
    <div class="attach ui">
      <a href="#" class="permalink">
        <img src="http://lorempixel.com/600/600" alt="" class="src"></a>
    </div> <!-- /.attach -->
    <div class="content">
      <div class="header">
        <h2 class="heading">
          <a href="#" class="permalink">Featured news Post</a>
        </h2> <!-- /.heading -->
        <div class="meta">
          <p class="date">Oct 12 2014 12:00 PM</p>
        </div> <!-- /.meta -->
        <div class="byline"><em class="story">Post by:</em> <a class="link" href="#heather">Heather Kohlberger</a></div>
      </div><!-- /.header -->
      <div class="copy">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos provident sunt dolore, laborum illum laboriosam laudantium, consequuntur necessitatibus veritatis impedit non rerum, dignissimos illo expedita quam amet totam fugit eveniet.
        </p>
      </div><!-- /.copy -->
      <div class="footer">
        <nav class="categories ui">
          <a href="#" class="category">Lecture</a>
          <a href="#" class="category">On Campus</a>
        </nav>
        <nav class="tags ui">
          <a href="#" class="tag">Typography</a>
        </nav>
      </div> <!-- /.footer -->
    </div><!-- /.content -->
  </div><!-- /.lede -->

  <!--  ====================================================================
  news List
  =====================================================================  -->
  <div class="items posts ui">
    <div class="items list ui">

      <div class="item post ui" id="post-1">
        <div class="item attach ui">
          <a href="#" class="permalink">
            <img class="src" src="http://lorempixel.com/600/600" alt=""></a>
        </div> <!-- /.attach -->
        <div class="content">
          <div class="header">
            <h2 class="heading">
              <a href="#" class="permalink">news Post Item 1</a>
            </h2> <!-- /.heading -->
            <div class="meta">
              <p class="date">Oct 12 2014 12:00 PM</p>
            </div> <!-- /.meta -->
            <div class="byline"><em class="story">Post by:</em> <a class="link" href="#heather">Heather Kohlberger</a></div>
          </div> <!-- /.header -->
          <div class="copy">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos provident sunt dolore, laborum illum laboriosam laudantium, consequuntur necessitatibus veritatis impedit non rerum, dignissimos illo expedita quam amet totam fugit eveniet.
            </p>
          </div> <!-- /.content -->
          <div class="footer">
            <nav class="categories">
              <a href="#" class="category">Lecture</a>
              <a href="#" class="category">On Campus</a>
            </nav>
            <nav class="tags">
              <a href="#" class="tag">Typography</a>
            </nav>
          </div> <!-- /.footer -->
        </div> <!-- /.content -->
      </div> <!-- /.item.post#post-1 -->

      <div class="item post ui" id="post-2">
        <div class="item attach ui">
          <a href="#" class="permalink">
            <img class="src" src="http://lorempixel.com/600/600" alt=""></a>
        </div> <!-- /.attach -->
        <div class="content">
          <div class="header">
            <h2 class="heading">
              <a href="#" class="permalink">news Post Item 1</a>
            </h2> <!-- /.heading -->
            <div class="meta">
              <p class="date">Oct 12 2014 12:00 PM</p>
            </div> <!-- /.meta -->
            <div class="byline"><em class="story">Post by:</em> <a class="link" href="#heather">Heather Kohlberger</a></div>
          </div> <!-- /.header -->
          <div class="copy">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos provident sunt dolore, laborum illum laboriosam laudantium, consequuntur necessitatibus veritatis impedit non rerum, dignissimos illo expedita quam amet totam fugit eveniet.
            </p>
          </div> <!-- /.content -->
          <div class="footer">
            <nav class="categories">
              <a href="#" class="category">Lecture</a>
              <a href="#" class="category">On Campus</a>
            </nav>
            <nav class="tags">
              <a href="#" class="tag">Typography</a>
            </nav>
          </div> <!-- /.footer -->
        </div> <!-- /.content -->
      </div> <!-- /.item.post#post-2 -->

      <div class="item post ui" id="post-3">
        <div class="item attach ui">
          <a href="#" class="permalink">
            <img class="src" src="http://lorempixel.com/600/600" alt=""></a>
        </div> <!-- /.attach -->
        <div class="content">
          <div class="header">
            <h2 class="heading">
              <a href="#" class="permalink">news Post Item 3</a>
            </h2> <!-- /.heading -->
            <div class="meta">
              <p class="date">Oct 12 2014 12:00 PM</p>
            </div> <!-- /.meta -->
            <div class="byline"><em class="story">Post by:</em> <a class="link" href="#heather">Heather Kohlberger</a></div>
          </div> <!-- /.header -->
          <div class="copy">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos provident sunt dolore, laborum illum laboriosam laudantium, consequuntur necessitatibus veritatis impedit non rerum, dignissimos illo expedita quam amet totam fugit eveniet.
            </p>
          </div> <!-- /.content -->
          <div class="footer">
            <nav class="categories">
              <a href="#" class="category">Lecture</a>
              <a href="#" class="category">On Campus</a>
            </nav>
            <nav class="tags">
              <a href="#" class="tag">Typography</a>
            </nav>
          </div> <!-- /.footer -->
        </div> <!-- /.content -->
      </div> <!-- /.item.post#post-3 -->

      <div class="item post ui" id="post-4">
        <div class="item attach ui">
          <a href="#" class="permalink">
            <img class="src" src="http://lorempixel.com/600/600" alt=""></a>
        </div> <!-- /.attach -->
        <div class="content">
          <div class="header">
            <h2 class="heading">
              <a href="#" class="permalink">news Post Item 4</a>
            </h2> <!-- /.heading -->
            <div class="meta">
              <p class="date">Oct 12 2014 12:00 PM</p>
            </div> <!-- /.meta -->
            <div class="byline"><em class="story">Post by:</em> <a class="link" href="#heather">Heather Kohlberger</a></div>
          </div> <!-- /.header -->
          <div class="copy">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos provident sunt dolore, laborum illum laboriosam laudantium, consequuntur necessitatibus veritatis impedit non rerum, dignissimos illo expedita quam amet totam fugit eveniet.
            </p>
          </div> <!-- /.content -->
          <div class="footer">
            <nav class="categories">
              <a href="#" class="category">Lecture</a>
              <a href="#" class="category">On Campus</a>
            </nav>
            <nav class="tags">
              <a href="#" class="tag">Typography</a>
            </nav>
          </div> <!-- /.footer -->
        </div> <!-- /.content -->
      </div> <!-- /.item.post#post-4 -->

      <div class="item post ui" id="post-5">
        <div class="item attach ui">
          <a href="#" class="permalink">
            <img class="src" src="http://lorempixel.com/600/600" alt=""></a>
        </div> <!-- /.attach -->
        <div class="content">
          <div class="header">
            <h2 class="heading">
              <a href="#" class="permalink">news Post Item 5</a>
            </h2> <!-- /.heading -->
            <div class="meta">
              <p class="date">Oct 12 2014 12:00 PM</p>
            </div> <!-- /.meta -->
            <div class="byline"><em class="story">Post by:</em> <a class="link" href="#heather">Heather Kohlberger</a></div>
          </div> <!-- /.header -->
          <div class="copy">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos provident sunt dolore, laborum illum laboriosam laudantium, consequuntur necessitatibus veritatis impedit non rerum, dignissimos illo expedita quam amet totam fugit eveniet.
            </p>
          </div> <!-- /.content -->
          <div class="footer">
            <nav class="categories">
              <a href="#" class="category">Lecture</a>
              <a href="#" class="category">On Campus</a>
            </nav>
            <nav class="tags">
              <a href="#" class="tag">Typography</a>
            </nav>
          </div> <!-- /.footer -->
        </div> <!-- /.content -->
      </div> <!-- /.item.post#post-5 -->

      <div class="item post ui" id="post-6">
        <div class="item attach ui">
          <a href="#" class="permalink">
            <img class="src" src="http://lorempixel.com/600/600" alt=""></a>
        </div> <!-- /.attach -->
        <div class="content">
          <div class="header">
            <h2 class="heading">
              <a href="#" class="permalink">news Post Item 6</a>
            </h2> <!-- /.heading -->
            <div class="meta">
              <p class="date">Oct 12 2014 12:00 PM</p>
            </div> <!-- /.meta -->
            <div class="byline"><em class="story">Post by:</em> <a class="link" href="#heather">Heather Kohlberger</a></div>
          </div> <!-- /.header -->
          <div class="copy">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos provident sunt dolore, laborum illum laboriosam laudantium, consequuntur necessitatibus veritatis impedit non rerum, dignissimos illo expedita quam amet totam fugit eveniet.
            </p>
          </div> <!-- /.content -->
          <div class="footer">
            <nav class="categories">
              <a href="#" class="category">Lecture</a>
              <a href="#" class="category">On Campus</a>
            </nav>
            <nav class="tags">
              <a href="#" class="tag">Typography</a>
            </nav>
          </div> <!-- /.footer -->
        </div> <!-- /.content -->
      </div> <!-- /.item.post#post-6 -->

      <div class="item post ui" id="post-7">
        <div class="item attach ui">
          <a href="#" class="permalink">
            <img class="src" src="http://lorempixel.com/600/600" alt=""></a>
        </div> <!-- /.attach -->
        <div class="content">
          <div class="header">
            <h2 class="heading">
              <a href="#" class="permalink">news Post Item 7</a>
            </h2> <!-- /.heading -->
            <div class="meta">
              <p class="date">Oct 12 2014 12:00 PM</p>
            </div> <!-- /.meta -->
            <div class="byline"><em class="story">Post by:</em> <a class="link" href="#heather">Heather Kohlberger</a></div>
          </div> <!-- /.header -->
          <div class="copy">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos provident sunt dolore, laborum illum laboriosam laudantium, consequuntur necessitatibus veritatis impedit non rerum, dignissimos illo expedita quam amet totam fugit eveniet.
            </p>
          </div> <!-- /.content -->
          <div class="footer">
            <nav class="categories">
              <a href="#" class="category">Lecture</a>
              <a href="#" class="category">On Campus</a>
            </nav>
            <nav class="tags">
              <a href="#" class="tag">Typography</a>
            </nav>
          </div> <!-- /.footer -->
        </div> <!-- /.content -->
      </div> <!-- /.item.post#post-7 -->

      <div class="item post ui" id="post-8">
        <div class="item attach ui">
          <a href="#" class="permalink">
            <img class="src" src="http://lorempixel.com/600/600" alt=""></a>
        </div> <!-- /.attach -->
        <div class="content">
          <div class="header">
            <h2 class="heading">
              <a href="#" class="permalink">news Post Item 8</a>
            </h2> <!-- /.heading -->
            <div class="meta">
              <p class="date">Oct 12 2014 12:00 PM</p>
            </div> <!-- /.meta -->
            <div class="byline"><em class="story">Post by:</em> <a class="link" href="#heather">Heather Kohlberger</a></div>
          </div> <!-- /.header -->
          <div class="copy">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos provident sunt dolore, laborum illum laboriosam laudantium, consequuntur necessitatibus veritatis impedit non rerum, dignissimos illo expedita quam amet totam fugit eveniet.
            </p>
          </div> <!-- /.content -->
          <div class="footer">
            <nav class="categories">
              <a href="#" class="category">Lecture</a>
              <a href="#" class="category">On Campus</a>
            </nav>
            <nav class="tags">
              <a href="#" class="tag">Typography</a>
            </nav>
          </div> <!-- /.footer -->
        </div> <!-- /.content -->
      </div> <!-- /.item.post#post-8 -->

      <div class="item post ui" id="post-9">
        <div class="item attach ui">
          <a href="#" class="permalink">
            <img class="src" src="http://lorempixel.com/600/600" alt=""></a>
        </div> <!-- /.attach -->
        <div class="content">
          <div class="header">
            <h2 class="heading">
              <a href="#" class="permalink">news Post Item 9</a>
            </h2> <!-- /.heading -->
            <div class="meta">
              <p class="date">Oct 12 2014 12:00 PM</p>
            </div> <!-- /.meta -->
            <div class="byline"><em class="story">Post by:</em> <a class="link" href="#heather">Heather Kohlberger</a></div>
          </div> <!-- /.header -->
          <div class="copy">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos provident sunt dolore, laborum illum laboriosam laudantium, consequuntur necessitatibus veritatis impedit non rerum, dignissimos illo expedita quam amet totam fugit eveniet.
            </p>
          </div> <!-- /.content -->
          <div class="footer">
            <nav class="categories">
              <a href="#" class="category">Lecture</a>
              <a href="#" class="category">On Campus</a>
            </nav>
            <nav class="tags">
              <a href="#" class="tag">Typography</a>
            </nav>
          </div> <!-- /.footer -->
        </div> <!-- /.content -->
      </div> <!-- /.item.post#post-9 -->

      <div class="item post ui" id="post-10">
        <div class="item attach ui">
          <a href="#" class="permalink">
            <img class="src" src="http://lorempixel.com/600/600" alt=""></a>
        </div> <!-- /.attach -->
        <div class="content">
          <div class="header">
            <h2 class="heading">
              <a href="#" class="permalink">news Post Item 10</a>
            </h2> <!-- /.heading -->
            <div class="meta">
              <p class="date">Oct 12 2014 12:00 PM</p>
            </div> <!-- /.meta -->
            <div class="byline"><em class="story">Post by:</em> <a class="link" href="#heather">Heather Kohlberger</a></div>
          </div> <!-- /.header -->
          <div class="copy">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos provident sunt dolore, laborum illum laboriosam laudantium, consequuntur necessitatibus veritatis impedit non rerum, dignissimos illo expedita quam amet totam fugit eveniet.
            </p>
          </div> <!-- /.content -->
          <div class="footer">
            <nav class="categories">
              <a href="#" class="category">Lecture</a>
              <a href="#" class="category">On Campus</a>
            </nav>
            <nav class="tags">
              <a href="#" class="tag">Typography</a>
            </nav>
          </div> <!-- /.footer -->
        </div> <!-- /.content -->
      </div> <!-- /.item.post#post-10 -->

    </div><!-- /.items list -->
    <nav class="items pagination menus ui">
      <strong class="menus title">news Pagination</strong>
      <ul class="menu ui">
        <li class="item">
          <a href="#" class="prev page link">Previous</a>
        </li>
        <li class="item">
          <a href="#" class="next page link">Next</a>
        </li>
      </ul>
    </nav><!-- /.items pagination -->
  </div><!-- /.items posts ui -->
</div> <!-- /.main.content.ui -->

<div class="sub content ui">
  <div class="subscribe segment">
    {{> signup }}
    <a href="#" class="rss">Subscribe to RSS</a>
  </div> <!-- /.subscribe -->
  <nav class="categories menus segment ui">
    <strong class="menus title">Categories</strong>
    <ul class="menu">
      <li class="item"><a href="#" class="category link">Lecture</a></li>
      <li class="item"><a href="#" class="category link">Exhibition</a></li>
      <li class="item"><a href="#" class="category link">Workshop</a></li>
    </ul>
  </nav> <!-- /.categories -->
  <div class="archives segment"><a href="#" class="button archive">View All news Posts</a></div>
</div><!-- /.sub content ui -->
