<table class="mini cal ui">
  <caption>
    January 2012
    <nav class="months menu ui">
      <a class="prev link item" href="#">Previous</a>
      <a class="next link item" href="#">Next</a>
    </nav>
  </caption>


  <thead class="days">
    <tr class="days week">
      <th>M<span class="abbr-short">on<span class="abbr-mid">day</span></span></th>
      <th>T<span class="abbr-short">ues<span class="abbr-mid">day</span></span></th>
      <th>W<span class="abbr-short">ed<span class="abbr-mid">nesday</span></span></th>
      <th>Th<span class="abbr-short">u<span class="abbr-mid">rsday</span></span></th>
      <th>F<span class="abbr-short">ri<span class="abbr-mid">day</span></span></th>
      <th>S<span class="abbr-short">at<span class="abbr-mid">urday</span></span></th>
      <th>Su<span class="abbr-short">n<span class="abbr-mid">day</span></span></th>
    </tr>
  </thead>


  <tbody class="weeks">
    <tr class="week">
      <td class="off">
        <span class="date">26</span>
      </td>
      <td class="off">
        <span class="date">27</span>
      </td>
      <td class="off">
        <span class="date">28</span>
      </td>
      <td class="off">
        <span class="date">29</span>
      </td>
      <td class="off">
        <span class="date">30</span>
      </td>
      <td class="off">
        <span class="date">31</span>
      </td>
      <td class="day">
        <span class="date">1</span>
      </td>
    </tr>


    <tr class="week">
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">2</span>
        </a>
        <a href="#" class="event link">Title of Event 2</a>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">3</span>
        </a>
        <a href="#" class="event link">Title of Event 3</a>
      </td>
      <td class="day">
        <span class="date">4</span>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">5</span>
        </a>
        <a href="#" class="event link">Title of Event 5</a>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">6</span>
        </a>
        <a href="#" class="event link">Title of Event 6</a>
      </td>
    </tr>


    <tr class="week">
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">7</span>
        </a>
        <a href="#" class="event link">Title of Event 7</a>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">8</span>
        </a>
        <a href="#" class="event link">Title of Event 8</a>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">9</span>
        </a>
        <a href="#" class="event link">Title of Event 9</a>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">10</span>
        </a>
        <a href="#" class="event link">Title of Event 10</a>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">11</span>
        </a>
        <a href="#" class="event link">Title of Event 11</a>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">12</span>
        </a>
        <a href="#" class="event link">Title of Event 12</a>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">13</span>
        </a>
        <a href="#" class="event link">Title of Event 13</a>
      </td>
    </tr>


    <tr class="week">
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">14</span>
        </a>
        <a href="#" class="event link">Title of Event 14</a>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">15</span>
        </a>
        <a href="#" class="event link">Title of Event 15</a>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">16</span>
        </a>
        <a href="#" class="event link">Title of Event 16</a>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">17</span>
        </a>
        <a href="#" class="event link">Title of Event 17</a>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">18</span>
        </a>
        <a href="#" class="event link">Title of Event 18</a>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">19</span>
        </a>
        <a href="#" class="event link">Title of Event 19</a>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">20</span>
        </a>
        <a href="#" class="event link">Title of Event 20</a>
      </td>
    </tr>


    <tr class="week">
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">21</span>
        </a>
        <a href="#" class="event link">Title of Event 21</a>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">22</span>
        </a>
        <a href="#" class="event link">Title of Event 22</a>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">23</span>
        </a>
        <a href="#" class="event link">Title of Event 23</a>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">24</span>
        </a>
        <a href="#" class="event link">Title of Event 24</a>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">25</span>
        </a>
        <a href="#" class="event link">Title of Event 25</a>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">26</span>
        </a>
        <a href="#" class="event link">Title of Event 26</a>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">27</span>
        </a>
        <a href="#" class="event link">Title of Event 27</a>
      </td>
    </tr>


    <tr class="week">
      <td class="day">
        <span class="date">28</span>
      </td>
      <td class="day">
        <span class="date">29</span>
      </td>
      <td class="day">
        <span class="date">30</span>
      </td>
      <td class="events day">
        <a class="link day" href="#">
          <span class="date">30</span>
        </a>
        <a href="#" class="event link">Title of Event 30</a>
      </td>
      <td class="off">
        <span class="date">1</span>
      </td>
      <td class="off">
        <span class="date">2</span>
      </td>
      <td class="off">
        <span class="date">3</span>
      </td>
    </tr>
  </tbody>
</table>