<header class="masthead" role="banner">
  <div class="brand">
  	<a class="mark" href="/" title="MICA Graphic Design">MICA Graphic Design</a>
  </div> <!-- /.brand -->
  
  
  <nav class="navigation menus" role="navigation">
    <strong class="visuallyhidden">Main Navigation</strong>
    <ul class="menu level-1" role="menubar">
      <li class="item">
        <a href="#Events" class="link" title="Events">Events</a>
      </li>
      <li class="item">
        <a href="#" class="link" title="Events">Blog</a>
      </li>
      <li class="item">
        <a href="#" class="link" title="Events">Current Work</a>
      </li>
      <li class="item">
        <a href="#Profiles" class="link" title="Profiles">Profiles</a>
      </li>
      <li class="item">
        <a href="#" class="link" title="Opportunities">Opportunities</a>
      </li>
    </ul><!-- /.menu -->
  </nav>
  
  
  <nav class="utility menus">
    <ul class="menu">
      <li class="item">
        <a href="#News" class="link">News</a>
      </li>
      <li class="item">
        <a href="#Archives" class="link">Archives</a>
      </li>
      <li class="item">
        <a href="#About" class="link">About</a>
      </li>
      <li class="item">
        <a href="#Contact" class="link">Contact</a>
      </li>
      <li class="item">
        <a href="#Login" class="link">Login</a>
      </li>
    </ul>
    
    
    <form action="#" class="form" role="search">
      <div class="field">
        <label for="masthead-search"></label>
        <input id="masthead-search" type="text" placeholder="Search the Site" name="s"></div>
      <div class="action">
        <button class="control" type="submit">Search</button>
      </div>
    </form>
  </nav><!-- /.utility menus -->

  {{> nav-social }}
</header><!-- /.masthead -->