<nav class="departments menus">
	<ul class="menu">
		<li class="item">
			<a class="link" href="http://www.mica.edu" title="MICA.edu">MICA.edu</a>
		</li>
		<li class="item">
			<a class="link" href="http://micadesign.org/" title="GD MFA">GD MFA</a>
		</li>
		<li class="item">
			<a class="link" href="http://micagraphicdesignpb.org/" title="post-bac">Post-Bac GD</a>
		</li>
	</ul>
</nav>