<nav class="social menus">
  <ul class="menu">
    <li class="item">
      <a class="link" href="https://twitter.com/MICA_GD"  title="Twitter">Twitter</a>
    </li>
    <li class="item">
      <a class="link" href="http://micagraphicdesign.tumblr.com/"  title="Tumblr">Tumbler</a>
    </li>
    <li class="item">
      <a class="link" href="http://vimeo.com/micagd"  title="Vimeo">Vimeo</a>
    </li>
    <li class="item">
      <a class="link" href="http://portfolios.mica.edu/search?mica_major=797&amp;field=&amp;content=projects&amp;sort=&amp;time=week"  title="Behance">Behance</a>
    </li>
    <li class="item">
      <a class="link" href="http://flickr.com/groups/gdmica"  title="Flickr">Flickr</a>
    </li>
  </ul>
</nav>